/* styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


.search-background {
  background-image: url('./assets/images/Curvedlines.png');
  background-size: cover;     /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.discover-background {
  background-image: url('./assets/images/getjob.png');
  background-size: cover;     /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

svg.star-svg {
  display: inline;
}
.avatar-background {
  z-index: 10;
  background-image: url('./assets/images/avatarbackendImage.png');
  background-size: cover;     /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 400px;
  height: 220px;
}